.backgr{
    background-color: #044F7A;
    text-align: center;
    z-index: 999999;
    width: 100%;
}
.initial-ht{
    position: sticky;
    top: 0;
    transition: height 0.5s ease;
}


.company-name-text{
    font-size: 2rem;
    color: white;
    transition: padding-top 0.5s ease;
}